<div class="main-content">
    <div class="empty-box"></div>
    <div class="box green">
      <div class="container horses">
        <div class="title m-b">{{title}}
        </div>
        <div class="title m-b">
          <button class="button-info m-r" (click)="scrollTo('payments')">{{tsncs}}</button>
          <a href="/safety">
            <button  class="button-info">{{safety}}</button>
          </a>
        </div>
        <form [formGroup]="bookingForm" class="submit-form" (ngSubmit)="submitForm()">
          <div class="input input__default">
            <label>{{field.name}}</label>
            <input formControlName="name" class="required" type="text" [ngClass]="{'invalid': false}">
            <div class="error-message" *ngIf="submitted && f.name.errors">
              <div *ngIf="submitted && f.name.errors">
                {{requiredName}}
              </div>
            </div>
          </div>
          <div class="input input__default">
            <label>{{field.email}}</label>
            <input formControlName="email" class="required" type="email" [ngClass]="{'invalid': false}">
            <div class="error-message" *ngIf="submitted && f.email.errors">
             <p *ngIf="f.email.errors.required"> {{requiredField}} </p>
             <p *ngIf="f.email.errors.email"> {{invalidEmail}} </p>
            </div>
          </div>
          <div class="input input__default">
            <label>{{field.contactNumber}}</label>
            <input formControlName="tel" class="required" type="tel">
            <p class="error-message" *ngIf="submitted && f.tel.errors">
              {{requiredField}}
            </p>
          </div>
          <div class="date-time">
            <div class="input input__default date">
              <label for="date">{{field.date}}</label>
              <input formControlName="date" class="required" type="date">
              <p class="error-message" *ngIf="submitted && f.date.errors">
                {{requiredField}}
              </p>
            </div>
            <div class="time">
              <div class="input input__default input__time">
                <label>{{field.hour}}</label>
                <select formControlName="hour">
                  <option *ngFor="let opt of hours" [ngValue]="opt">{{opt}}
                  </option>
                </select>
              </div>
              <div class="input input__default input__time">
                <label>{{field.mins}}</label>
                <select formControlName="minutes">
                  <option *ngFor="let opt of minutes" [ngValue]="opt">{{opt}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="input input__default">
            <label>{{field.riding}}</label>
            <select formControlName="riding">
              <option *ngFor="let opt of ridings" [ngValue]="opt">{{opt.name}}
              </option>
            </select>
            <p class="error-message" *ngIf="submitted && f.riding.errors">
              {{requiredField}}
            </p>
          </div>
          <div class="input input__default" *ngIf="f.riding.value.options">
            <label>{{f.riding.value.display}}</label>
            <select formControlName="rideType" [(ngModel)]="f.riding.value.selected">
              <option *ngFor="let opt of f.riding.value.options;let i = index" [ngValue]="i">{{opt.name}}
              </option>
            </select>
            <p class="error-message" *ngIf="submitted && f.rideType.errors">
              {{requiredField}}
            </p>
          </div>
          <div class="input input__default">
            <label>{{field.riders}}</label>
            <div formArrayName="riders"
              *ngFor="let rider of riderForm.controls; let i = index" class="riders">
              <div [formGroupName]="i">
                <div class="remove-rider" *ngIf="i">
                  <a class="add-rider" (click)="removeRider(i)"><span class="remove">x</span></a>
                </div>
                <div class="text-center" style="font-size: 0">
                  <div class="input input__default name">
                    <label>{{field.name}}</label>
                    <input formControlName="name" class="required" 
                      [ngClass]="{'invalid': false}" required>
                      <p class="error-message" *ngIf="submitted && r(i).name.errors">
                        {{requiredField}}
                      </p>
                  </div>
                  <div class="input input__default age input__age">
                    <label>{{field.age}}</label>
                    <input formControlName="age" class="required" type="number"

                    min="1" max="99" [ngClass]="{'invalid': submitted && r(i).age.errors}" required>
                  </div>
                </div>
                <div style="font-size: 0;text-align: center">
                  <div class="input input__default height input__age">
                    <label>{{field.height}}</label>
                    <input formControlName="height" class="required" type="number"
                      [ngClass]="{'invalid': submitted && r(i).height.errors}" required>
                  </div>
                  <div class="input input__default weight input__age">
                    <label>{{field.weight}}</label>
                    <input formControlName="weight" class="required" type="number"
                      [ngClass]="{'invalid': submitted && r(i).weight.errors}" required>
                  </div>
                  <div class="input input__default level">
                    <label>{{field.experience}}</label>
                    <select formControlName="level">
                      <option *ngFor="let opt of levels" [ngValue]="opt">{{opt}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="riderForm.length<=4">
              <a class="add-rider" (click)="addRider()"><span >+</span>
                <label>{{field.add}}</label>
              </a>
            </div>
          </div>
          <div class="input input__default">
            <label>{{field.paymentMethod}}</label>
            <select formControlName="payment">
              <option *ngFor="let opt of payments" [ngValue]="opt">{{opt}} {{price}}
              </option>
            </select>
            <p class="error-message" *ngIf="submitted && f.payment.errors">
              {{requiredField}}
            </p>
          </div>
          <div class="input input__default">
            <label>{{field.message}}</label>
            <textarea formControlName="message" rows="4"></textarea>
            <p class="error-message" *ngIf="submitted && f.message.errors">
              {{requiredField}}
            </p>
          </div>
          <div class="input">
            <input formControlName="accept" type="checkbox" required>
            I have read your <a class="a-info" href="/safety">safety</a> and <a class="a-info" (click)="scrollTo('payments')">payment & cancelation</a> policy and agree to accept responsibility for our own safety.
            <p class="error-message" *ngIf="submitted && f.accept.errors">
              {{requiredField}}
            </p>
          </div>
          <div class="text-center">
            <button type="submit" class="button-info">{{field.submit}}</button>
          </div>
        </form>
        <div>
          <div class="text-center payments-title" id="payments">
            {{paymentsTitle}}
          </div>
          <br>
          <span *ngFor="let text of paymentsText">
            {{text}}
            <br>
            <br>
          </span>
          <div class="text-center payments-title">
            {{cancellationTitle}}
          </div>
          <br>
          <span *ngFor="let text of cancellationText">
            {{text}}
            <br>
          </span>
        </div>
      </div>
    </div>
  </div>