<div class="main-content">
  <app-empty-box></app-empty-box>
  <div class="container trek-map">
    <app-trek-map></app-trek-map>
  </div>
  <div class="extra-info">
    <div class="container treks">
      <div>
        {{'treks.info' | translate}}
      </div>
    </div>
  </div>
  <div class="box green" *ngFor="let trek of treks; let i =index">
    <div class="container treks">
      <div class="title-1" translate [translateParams]="{number: i+1}">treks.trek</div>
      <div class="title-2">{{trek.title | translate}}</div>
      <div class="text">{{trek.text | translate}}</div>
      <div class="bubbles">
        <div class="time" translate [translateParams]="{hour:trek.time.h,min:trek.time.m}">
          {{trekTime(trek)}}
        </div>
        <div class="price" translate [translateParams]="{price: trek.price}">treks.horse</div>
        <br class="mobile">
        <div class="level" [ngClass]="{'exp': trek.level=='treks.level2'}">{{trek.level | translate}}</div>
        <div class="photos-bubble trek-photos" (click)="showModal(trek.images)"><a><img
              [src]="imagePhotos">{{'treks.photos' | translate}}</a></div>
      </div>
    </div>
  </div>
</div>