<div class="main-content">
    <div class="empty-box"></div>
    <div class="box green" *ngFor="let trek of treks">
      <div class="container treks">
        <div class="title-1">{{trek.title1}}</div>
        <div class="title-2">{{trek.title2}}</div>
        <div class="text">{{trek.text}}</div>
        <div class="bubbles">
          <div class="time">{{trek.time}}</div>
          <div class="price">{{trek.price}}</div>
          <br class="mobile">
          <div class="level" [ngClass]="{'exp': trek.level=='level experienced'}">{{trek.level}}</div>
          <div class="photos-bubble trek-photos" (click)="showModal(trek.images)"><a><img [src]="imagePhotos">{{photos}}</a></div>
        </div>
      </div>
    </div>
    <div class="extra-info">
      <div class="container treks">
        <div>
          {{info}}
        </div>
      </div>
    </div>
  </div>