.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
    margin-bottom: 2rem;
    margin-top: 50px;
    border: 0;
    background-color: rgba(255,255,255,0.4);
    padding: 0;
    height: 130px;
    @media screen and (min-width: 768px) {
      height: 130px;
    }
    .logo{
      padding-top: 14px;
      position: relative;
      img{
        width: 295px;
        position: absolute;
      }
    }
    >.container{
      display: flex;
      position: relative;
      height: 100%;
      @media screen and (min-width: 768px) {
        width: 850px;
      }
    }
    .menu{
      display: none;
      margin: auto 0 13px auto;
      position: unset;
      background-color: transparent;   
      >ul{
        padding: 0;
      }
      >ul>li{
        float: left;
        list-style: none;
        position: relative;
        >a{
          padding: 10px;
          display: block;
          color: #000;
          &.active{
            color: brown;
            text-decoration: underline;
          }
      }
    }
    .sub{
      position: absolute;
      background-color: rgba(255,255,255,0.4);
      text-align: center;
      left: -29px;
      width: 130px;
      top: 53px;
      overflow: hidden;
      >ul{
        padding: 0;
        >li{
          list-style: none;
          position: relative;
          >a{
            display: block;
            padding: 10px;
            color: #000;
            &.active{
              color: brown;
              text-decoration: underline;
            }
          }
        }
      }
    }
      @media screen and (min-width: 768px) {
        display: block;
      }
    }
    
    .menu-2{
      position: absolute;
      right: 0px;
      top: 100%;
      min-width: 190px;
      background-color: rgba(255,255,255,0.4);
      >div{
        margin: 0;
        padding: 5px 0;
        >a{
          padding: 0 10px;
          margin-left: 20px;
          color: #000;
          &.active{
            color: brown;
            text-decoration: underline;
          }
        }
        .sub{
          background-color: rgba(255,255,255,0.4);
          margin: 0;
          padding-left: 40px;
          >div{
            padding: 4px 0;
            >a{
              padding: 0 10px;
              color: #000;
              &.active{
                color: brown;
                text-decoration: underline;
              }
            }
          }
        }
      }
      @media screen and (min-width: 768px) {
        display: none;
      }
    }
    .burger-menu{
      margin: auto 0 40px auto;
      >button{
        width: 44px;
        height: 40px;
        border-radius: 10px;
        background-color: rgba(41, 37, 47, 1);
        padding: 4px 0px 0px 8px;
        border: 1px solid rgb(203, 203, 203);
        >div{
          width: 25px;
          height: 3px;
          background-color: rgb(203, 203, 203);
          margin-bottom: 6px;
        }
      }
      @media screen and (min-width: 768px) {
        display: none;
      }
    }
    
  }