<div class="main-content">
    <div class="empty-box"></div>
    <div class="box green-4">
      <div class="container horses">
        <div class="title m-b">{{'gallery.title' | translate}}</div>
        <p class="text" ></p>
        <ngx-slick-carousel class="carousel"  #slickModal="slick-carousel" [config]="slideConfig">
          <div ngxSlickItem class="greg-carousel" *ngFor="let image of carousel;let i = index">
            <img [src]="image" [ngStyle]="imgHeight">
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </div>