<div class="Header">
  <div class="container">
    <a routerLink="/" class="logo">
      <img [src]="imageLogo">
    </a>
    <div (clickOutside)="animateMe(false,null)" class="mobile-menu">
      <div class="burger-menu" (click)="animateMe(!mobileMenu.toggle,null)">
        <button type="button">
          <div></div>
          <div></div>
          <div></div>
        </button>
      </div>
      <div class="menu-2" appToggleAnimate [show]="mobileMenu.toggle">
        <div class="" *ngFor="let opt of menu; let i  = index;">
          <a [routerLink]="opt.path||path" 
            class="nav-link"
            [ngClass]="{active:opt.path&&opt.path.indexOf(path)>=0}"
            (click)="animateMe(true,opt)"
            >{{opt.name| translate}}</a>
          <div class="sub" *ngIf="opt.sub" appToggleAnimate [show]="opt.toggle">
            <div class="" *ngFor="let sub of opt.sub" >
              <a [routerLink]="sub.path" class="nav-link" [ngClass]="{active:path===sub.path}">{{sub.name| translate}}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="menu">
        <ul>
          <li *ngFor="let opt of menu; let i = index;">
            <a [routerLink]="opt.path||path" class="nav-link"
              [ngClass]="{active:opt.path&&opt.path.indexOf(path)>=0}"
              (click)="animateMe(true,opt)"
              >{{opt.name| translate}}</a>
            <div class="sub" *ngIf="opt.sub" appToggleAnimate [show]="opt.toggle">
              <ul>
                <li class="" *ngFor="let sub of opt.sub">
                  <a [routerLink]="sub.path" class="nav-link" [ngClass]="{active:path===sub.path}">{{sub.name| translate}}</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="Header__Language">
      <div class="Header__Language_Container">
        <div class="Header__Language_Container__Icons">
          <img [src]="languageEn" (click)="changeLanguage('en')">
        </div>
        <div class="Header__Language_Container__Icons">
          <img [src]="languageGr" (click)="changeLanguage('gr')">
        </div>
      </div>
    </div>
  </div>
</div>