<div class="main-content">
  <div class="box green">
      <div class="container treks">
        <a class="title-2 accommodation-header" href="https://villakalomira.com" target="_blank">{{ 'accommodations.accommodation.title'| translate}}</a>
        <p class="text line-h">
          <img class="accommodationImage" [src]="kalomiraImage" (click)="showModal(kalomiraImage)">
          {{ 'accommodations.accommodation.copy1'| translate}}
          <br>
          {{ 'accommodations.accommodation.copy2'| translate}}
          <br><br>
          {{ 'accommodations.accommodation.copy3'| translate}}
          <br>
          <a class="a-info" href="https://villakalomira.com" target="_blank">{{ 'accommodations.accommodation.link'| translate}}</a>
</p>

      </div>
    </div>
</div>
