<div class="main-content">
    <div class="empty-box"></div>
    <div class="box green">
      <div class="container horses">
        <!-- <div class="title m-b">{{safe.title}}</div> -->
        <div class="title m-b home-header">Welcome</div>
        <p *ngFor="let text of homeText" class="text line-hight">{{text}}</p>
      </div>
    </div>
    <div class="box white-2">
      <div class="container home-desktop">
        <div id="TA_selfserveprop374" class="TA_selfserveprop">
          <ul id="WxBPaWir5CkK" class="TA_links bla9k8hu">
            <li id="hVcH6pM4Bm" class="1rSyxVoh8I"><a target="_blank" href="https://www.tripadvisor.co.uk/"><img
                  src="https://www.tripadvisor.co.uk/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor" /></a>
            </li>
          </ul>
        </div>
        <script async
          src="https://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=374&amp;locationId=10367019&amp;lang=en_UK&amp;rating=true&amp;nreviews=4&amp;writereviewlink=true&amp;popIdx=false&amp;iswide=true&amp;border=true&amp;display_version=2"
          data-loadtrk onload="this.loadtrk=true"></script>
      </div>
      <div class="container home-mobile">
        <div id="TA_selfserveprop207" class="TA_selfserveprop">
          <ul id="6uLOQ3fN" class="TA_links eGXq2sGm">
            <li id="FjjYrE63" class="pOeo9O3Hb"><a target="_blank" href="https://www.tripadvisor.co.uk/"><img
                  src="https://www.tripadvisor.co.uk/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor" /></a>
            </li>
          </ul>
        </div>
        <script async
          src="https://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=207&amp;locationId=10367019&amp;lang=en_UK&amp;rating=true&amp;nreviews=5&amp;writereviewlink=true&amp;popIdx=false&amp;iswide=false&amp;border=true&amp;display_version=2"
          data-loadtrk onload="this.loadtrk=true"></script>
      </div>
    </div>
  </div>