.picnic-photos{
    margin-top: 20px;
    text-align: center;
    .photo{
      margin-bottom: 20px;
      // @media screen and (min-width: 576px) {//mobile large
      //   display: inline-block;
      //   width: 30%;
      //   padding: 0 5px;
      // }
      img{
        width: 100%;
        max-width: 500px;
        border: 5px solid white;
      }
    }
  }