.box-horses {
  color: white;
  
  &:nth-child(1) {
    background-color: #004422b3;
  }
  &:nth-child(2) {
    background-color: #004435b3;
  }

  &:nth-child(3) {
    background-color: #004044b3;
  }

  &:nth-child(4) {
    background-color: #002944b3;
  }

  &:nth-child(5) {
    background-color: #000c44b3;
  }

  &:nth-child(6) {
    background-color: #290044b3;
  }

  &:nth-child(7) {
    background-color: #440022b3;
  }

  &:nth-child(8) {
    background-color: #580101b3;
  }

  &:nth-child(9) {
    background-color: #8c3300b3;
  }

}

.title{
  font-family: 'Bad Script';
  font-weight: 800;
}
.info {
  margin-bottom: 20px;

  .info-item {
    margin-bottom: 10px;

    >span {
      text-decoration: underline;
    }
  }

  @media screen and (min-width: 424px) {
    display: flex;

    .info-item {
      margin-left: 10px;
      margin-right: 10px;

      &:first-child {
        margin-left: auto;
      }

      &:last-child {
        margin-right: auto;
      }
    }
  }
}