<div class='TripAdvisor' [class.mobile]="isMobile">
    <div id="TA_selfserveprop789" class="TA_selfserveprop">
        <ul id="uPreGjMh" class="TA_links 5aYnZEdE">
            <li id="XE2fkaASI7W" class="kXJHNRl8h">
                <a target="_blank"
                    href="https://www.tripadvisor.co.uk/Attraction_Review-g189496-d10367019-Reviews-Gregs_Spetses_Horses-Spetses_Saronic_Gulf_Islands_Attica.html">
                    <img [style.max-height.px]="30"
                        src="https://www.tripadvisor.co.uk/img/cdsi/img2/branding/v2/Tripadvisor_lockup_horizontal_secondary_registered-11900-2.svg"
                        alt="TripAdvisor" />
                </a>
            </li>
        </ul>
    </div>
    <div id="TA_selfserveprop207" class="TA_selfserveprop">
        <ul id="6uLOQ3fN" class="TA_links eGXq2sGm">
            <li id="FjjYrE63" class="pOeo9O3Hb">
                <a target="_blank"
                    href="https://www.tripadvisor.co.uk/Attraction_Review-g189496-d10367019-Reviews-Gregs_Spetses_Horses-Spetses_Saronic_Gulf_Islands_Attica.html">
                    <img [style.max-height.px]="30"
                        src="https://www.tripadvisor.co.uk/img/cdsi/img2/branding/v2/Tripadvisor_lockup_horizontal_secondary_registered-11900-2.svg"
                        alt="TripAdvisor" />
                </a>
            </li>
        </ul>
    </div>
</div>