<!-- <ngx-scroll-lock [lock]="modalIsOpen | async"></ngx-scroll-lock> -->
<div class="Modal" [class.Modal--open]="modalIsOpen | async" *ngIf="modalIsOpen | async">
    <div class="Modal__Container">
        <div class="Modal__Container Modal__Container__Background" (click)="closeModal()"></div>
        <div class="Modal__Content"
                [style]="imageSize | async">
            <div class="Modal__Buttons">
                <div class="Modal__Button" (click)="changePage('-')">{{left}}</div>
                <div class="Modal__Button" (click)="closeModal()">&times;</div>
                <div class="Modal__Button" (click)="changePage('+')">{{right}}</div>
            </div>
            <div class="Modal__Image" (click)="changePage('+')" [style.backgroundImage]="imageUrl | async"
                [style.height]="imageHeight | async"
                [style.width]="imageWidth | async">
            </div>
        </div>

    </div>
    <!-- <div class="caption">{{(index+1)+' / '+group.length}}</div> -->
</div>