.lessons-photos {
  text-align: center;
  font-size: 0;
  margin-bottom: 30px;

  .photo {
    @media screen and (min-width: 576px) {
      //mobile large
      display: inline-block;
      width: 50%;
      padding: 0 5px;
    }

    img {
      width: 100%;
      border: 5px solid white;
    }
  }

  .description {
    &.left {
      display: none;
    }

    font-size: 20px;
    font-weight: 500;
    text-align: center;

    @media screen and (min-width: 576px) {
      //mobile large
      display: inline-block;
      width: 50%;
      padding: 0 5px;

      &.left {
        display: inline-block;
      }

      &.desktop-hide {
        display: none;
      }
    }
  }
}

.lessons-bubbles {
  margin-top: 30px;
  text-align: center;
  font-size: 0;
  line-height: 13px;

  .lesson {
    width: 70px;
    height: 70px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 50px;
    padding: 14px;
    text-align: center;
    display: inline-block;
  }

  .lesson-1 {
    background-color: #00b6bf;
    ;
    margin-right: 5%;
  }

  .lesson-2 {
    background-color: #e2cb02;
    ;

    @media screen and (min-width: 424px) {
      margin-right: 5%;
    }
  }

  .lesson-3 {
    background-color: #fb6200;
  }

  .mobile {
    @media screen and (min-width: 424px) {
      display: none;
    }
  }
}

.strike-over {
  text-decoration: line-through;
  text-decoration-color: red;
  font-weight: 400;
}