.box-horses{
    color: white;
    &:nth-child(2){
      background-color: #004422b3;
    }
    &:nth-child(3){
      background-color: #004435b3;
    }
    &:nth-child(4){
      background-color: #004044b3;
    }
    &:nth-child(5){
      background-color: #002944b3;
    }
    &:nth-child(6){
      background-color: #000c44b3;
    }
    &:nth-child(7){
      background-color: #290044b3;
    }
    &:nth-child(8){
      background-color: #440022b3;
    }
  }