<div class="TrekMap">
    <img [src]="trekMap">
    <div class="TrekMap__Pointer TrekMap__Pointer--0" placement="right" ngbPopover="Start"></div>
    <div class="TrekMap__Pointer TrekMap__Pointer--1" placement="left" ngbPopover="Trek 1"></div>
    <div class="TrekMap__Pointer TrekMap__Pointer--2" placement="right" ngbPopover="Trek 2"></div>
    <div class="TrekMap__Pointer TrekMap__Pointer--3" placement="right" ngbPopover="Trek 3"></div>
    <div class="TrekMap__Pointer TrekMap__Pointer--4" placement="right" ngbPopover="Trek 4"></div>
    <div class="TrekMap__Pointer TrekMap__Pointer--5" placement="right" ngbPopover="Trek 5"></div>
    <div class="TrekMap__Pointer TrekMap__Pointer--6" placement="right" ngbPopover="Trek 6"></div>
    <div class="TrekMap__Pointer TrekMap__Pointer--beach1" placement="right" ngbPopover="Xilokeriza"></div>
    <div class="TrekMap__Pointer TrekMap__Pointer--beach2" placement="right" ngbPopover="Agii Anargiri"></div>
    <div class="TrekMap__Pointer TrekMap__Pointer--beach3" placement="right" ngbPopover="Agia Paraskevi"></div>
    <div class="TrekMap__Pointer TrekMap__Pointer--beach4" placement="left" ngbPopover="Agia Marina"></div>
    <div class="TrekMap__Pointer TrekMap__Pointer--faros" placement="left" ngbPopover="Faros"></div>
    <div class="TrekMap__Pointer TrekMap__Pointer--carriage" placement="left" ngbPopover="Horse carriages stop"></div>
    <div class="TrekMap__Pointer TrekMap__Pointer--statue" placement="left" ngbPopover="Bubulina statue"></div>
</div>