<div class="main-content">
    <app-empty-box></app-empty-box>
    <div class="box box-horses" *ngFor="let horse of horses">
        <div class="container horses">
            <app-coin [list]="horse.images" *ngIf="horse.images.length"></app-coin>
            <div class="title">{{horse.name}}</div>
            <div class="info">
                <div class="info-item" *ngIf="horse.breed"><span>{{'horses.breed' | translate}}</span>:&nbsp;{{horse.breed| translate}}</div>
                <div class="info-item" *ngIf="horse.colour"><span>{{'horses.colour' | translate}}</span>:&nbsp;{{horse.colour | translate}}</div>
                <div class="info-item"><span>{{'horses.age' | translate}}</span>:&nbsp;{{horse.age}} {{'horses.years' | translate}}</div>
                <div class="info-item"><span>{{'horses.height' | translate}}</span>:&nbsp;{{horse.height}}</div>
            </div>

            <div class="text" *ngFor="let text of horse.text">
                {{text | translate}}
            </div>
        </div>
    </div>
</div>