<div class="coin-area" ng-click="Ctrl.showModal()">
    <div class="skill-icon blue">
        <div class="coin">
            <div class="icon" ng-style="Ctrl.side(0)"></div>
        </div>
        <div class="coin"></div>
        <div class="coin"></div>
        <div class="coin"></div>
        <div class="coin"></div>
        <div class="coin"></div>
        <div class="coin"></div>
        <div class="coin"></div>
        <div class="coin"></div>
        <div class="coin">
            <div class="icon" ng-style="Ctrl.side(1)"></div>
        </div>
        <div class="coin-wedge"></div>
    </div>
</div>