<div class="header">
  <div class="container">
    <a href="#/" class="logo">
      <img src="../images/logo2.png">
    </a>
    <div click-outside="Ctrl.hideMenu()">
      <div class="burger-menu">
        <button type="button" data-toggle="collapse" data-target="#js-navbar-collapse" aria-expanded="false">
          <div></div>
          <div></div>
          <div></div>
        </button>
      </div>
      <div class="collapse menu-2" id="js-navbar-collapse">
        <div class="" ng-repeat="opt in Ctrl.menu">
          <a ng-href="{{opt.trigger?'#'+opt.path:''}}" class="nav-link" ng-class="{active:opt.path.indexOf(location.$$path)>=0}"
            data-toggle="collapse" data-target="{{'#sub'+$index}}">{{opt.name}}</a>
          <div class="collapse sub" id="{{'sub'+$index}}" ng-if="opt.sub" aria-expanded="false">
            <div class="" ng-repeat="sub in opt.sub">
              <a ng-href="{{'#'+sub.path}}" class="nav-link"
                ng-class="{active:location.$$path===sub.path}">{{sub.name}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu">
      <ul class="">
        <li class="" ng-repeat="opt in Ctrl.menu">
          <a ng-href="{{opt.trigger?'#'+opt.path:''}}" class="nav-link" ng-class="{active:opt.path.indexOf(location.$$path)>=0}"
            data-toggle="collapse" data-target="{{'#sub-'+$index}}">{{opt.name}}</a>
          <div class="collapse sub" id="{{'sub-'+$index}}" ng-if="opt.sub" aria-expanded="false">
            <ul>
              <li class="" ng-repeat="sub in opt.sub">
                <a ng-href="{{'#'+sub.path}}" class="nav-link"
                  ng-class="{active:location.$$path===sub.path}">{{sub.name}}</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>