<div class="main-content">
  <div class="empty-box"></div>
  <div class="box green">
    <div class="container horses">
      <!-- <div class="title m-b">{{safe.title}}</div> -->
      <p ng-repeat="text in Ctrl.homeText" class="text line-hight">{{text}}</p>
    </div>
  </div>
  <div class="box white-2">
    <div class="container home-desktop">
      <div id="TA_selfserveprop374" class="TA_selfserveprop">
        <ul id="WxBPaWir5CkK" class="TA_links bla9k8hu">
          <li id="hVcH6pM4Bm" class="1rSyxVoh8I"><a target="_blank" href="https://www.tripadvisor.co.uk/"><img
                src="https://www.tripadvisor.co.uk/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor" /></a>
          </li>
        </ul>
      </div>
      <script async
        src="https://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=374&amp;locationId=10367019&amp;lang=en_UK&amp;rating=true&amp;nreviews=4&amp;writereviewlink=true&amp;popIdx=false&amp;iswide=true&amp;border=true&amp;display_version=2"
        data-loadtrk onload="this.loadtrk=true"></script>
    </div>
    <div class="container home-mobile">
      <div id="TA_selfserveprop207" class="TA_selfserveprop">
        <ul id="6uLOQ3fN" class="TA_links eGXq2sGm">
          <li id="FjjYrE63" class="pOeo9O3Hb"><a target="_blank" href="https://www.tripadvisor.co.uk/"><img
                src="https://www.tripadvisor.co.uk/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor" /></a>
          </li>
        </ul>
      </div>
      <script async
        src="https://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=207&amp;locationId=10367019&amp;lang=en_UK&amp;rating=true&amp;nreviews=5&amp;writereviewlink=true&amp;popIdx=false&amp;iswide=false&amp;border=true&amp;display_version=2"
        data-loadtrk onload="this.loadtrk=true"></script>
    </div>
    <!-- <form ng-submit="Ctrl.signUp(email,password)" style="color: black;">
      <input ng-model="email">
      <input ng-model="password">
      <button type="submit"> submit</button>
    </form>signIn
    <form ng-submit="Ctrl.signIn(email2,password2)" style="color: black;">
        <input ng-model="email2">
        <input ng-model="password2">
        <button type="submit"> submit</button>
      </form>
      <form ng-submit="Ctrl.makeBook(time,adults,kids)" style="color: black;">
          <input ng-model="time">
          <input ng-model="adults">
          <input ng-model="kids">
          <button type="submit"> submit</button>
        </form>
      <button ng-click="Ctrl.subscribe()"> subscribe</button>
      <button ng-click="Ctrl.unsubscribe()"> unsubscribe</button>
      <button ng-click="Ctrl.getTime();">get time</button>

    <h1>Welcome to My Awesome App</h1>
<div id="firebaseui-auth-container"></div>
<div id="loader">Loading...</div> -->
  </div>
</div>