<div class="main-content">
    <div class="empty-box"></div>
    <div class="box box-horses" ng-repeat="horse in Ctrl.horses">
        <div class="container horses">
            <coin list="horse.images" ng-if="horse.images.length"></coin>
            <div class="title">{{horse.name}}</div>
            <div class="info">
                <div class="info-item"><span>Breed</span>:&nbsp;{{horse.breed}}</div>
                <div class="info-item"><span>Age</span>:&nbsp;{{horse.age}}</div>
                <div class="info-item"><span>Height</span>:&nbsp;{{horse.height}}</div>
            </div>

            <div class="text" ng-repeat="text in horse.text">
                {{text}}
            </div>
        </div>
    </div>
</div>