<div class="main-content">
  <div class="empty-box"></div>
  <div class="box green">
    <div class="container horses">
      <div class="title m-b">Horse Riding Lessons</div>
      <p ng-repeat="lesson in Ctrl.lessons" class="text">{{lesson}}</p>
      <p ng-repeat="info in Ctrl.extraInfo" class="text md">{{info}}</p>
      <div class="lessons-bubbles">
        <div class="lesson lesson-1">30min 20€</div>
        <div class="lesson lesson-2">45min 30€</div>
        <br class="mobile">
        <div class="lesson lesson-3">60min 40€</div>
      </div>
    </div>
  </div>
  <div class="box purple-2">
    <div class="container horses">

      <div class="lessons-photos" ng-repeat="lesson in Ctrl.lessonsPhotos">
        <div class="description left" ng-class="{'desktop-hide':$index%2==0}">{{lesson.description}}</div>
        <div class="photo">
          <img ng-src="{{lesson.image}}" ng-click="Ctrl.showModal($index)"></img>
        </div>
        <div class="description" ng-class="{'desktop-hide':$index%2==1}">{{lesson.description}}</div>
      </div>
    </div>
  </div>
</div>