<div class="main-content">
    <div class="empty-box"></div>
    <div class="box green">
      <div class="container horses">
        <div class="title m-b">Horse Riding Lessons</div>
        <p ng-repeat="lesson in Ctrl.lessons" class="text">{{lesson}}</p>
        <div class="lessons-bubbles">
          <div class="lesson lesson-1">30min 20€</div>
          <div class="lesson lesson-2">45min 30€</div>
          <br class="mobile">
          <div class="lesson lesson-3">60min 40€</div>
        </div>
      </div>
    </div>
  </div>