.instructors-header{
    font-family: 'Bad Script';
    font-weight: 800;
}
.greg{
    background-color: #8a484eb3;
    color: white;
}
.kat{
    background-color: #523263a1;
    color: white;
}
.tracy{
    background-color: #988f2eb3;
    color: white;
}